<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <aside>
        <aside>
            <h2>Product Basket</h2>
            <ul id="cart"></ul>
            <div id="total">Total Amount: $0</div>
        </aside>
    </aside>
    <main>
        <div class="cards">
            <div class="card" id="cart">
                <img src="static/images/box1.jpg" alt="cart">
                <h2>Refrigerator</h2>
                <p><mark><span class="price">10</span>$</mark></p>
                <button>Add to cart</button>
            </div>
            <div class="card" id="cart2">
                <img src="static/images/box7.jpg" alt="cart">
                <h2>Mouse</h2>
                <p><mark><span class="price">20</span>$</mark></p>
                <button>Add to cart</button>
            </div>
            <div class="card" id="cart3">
                <img src="static/images/box4.jpg" alt="cart">
                <h3>Customers’ Most-Loved products</h3>
                <p><mark><span class="price">30</span>$</mark></p>
                <button>Add to cart</button>
            </div>
            <div class="card" id="cart4">
                <img src="static/images/box5.jpg" alt="cart">
                <h2>Sofa</h2>
                <p><mark><span class="price">40</span>$</mark></p>
                <button>Add to cart</button>
            </div>
            <div class="card" id="cart5">
                <img src="static/images/box9.jpg" alt="cart">
                <h2>Laptop</h2>
                <p><mark><span class="price">50</span>$</mark></p>
                <button>Add to cart</button>
            </div>
            <div class="card" id="cart6">
                <img src="static/images/box10.jpg" alt="cart">
                <h2>stylish pillows</h2>
                <p><mark><span class="price">60</span>$</mark></p>
                <button>Add to cart</button>
            </div>
            <div class="card" id="cart7">
                <img src="static/images/box11.jpg" alt="cart">
                <h2>Candles</h2>
                <p><mark><span class="price">70</span>$</mark></p>
                <button>Add to cart</button>
            </div>
            <div class="card" id="cart8">
                <img src="static/images/box12.jpg" alt="cart">
                <h3>Storage & oragnization</h3>
                <p><mark><span class="price">80</span>$</mark></p>
                <button>Add to cart</button>
            </div>
        </div>


    </main>
</div>
    <script src="static/js/seemore.js"></script>
</body>
</html>